
{{# each products}}
    <div class="row">
        {{# each this }}
            <div class="col-10 col-md-4 col-lg-4 col-xl-3">
                <div class="card mb-4">
                <img class="card-img-top" src="{{this.imagePath}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="clearfix">
                            <div class="price float-left">$12</div>
                            <a href="#" class="float-right btn btn-dark">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/ each}}
    </div>
{{/ each}}
{{!-- <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card mb-4">
            <img class="card-img-top" src="/images/pb_tattoo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="clearfix">
                        <div class="price float-left">$12</div>
                        <a href="#" class="float-right btn btn-dark">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card mb-4">
            <img class="card-img-top" src="/images/tattoo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="clearfix">
                        <div class="price float-left">$12</div>
                        <a href="#" class="float-right btn btn-dark">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card mb-4">
            <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="clearfix">
                        <div class="price float-left">$12</div>
                        <a href="#" class="float-right btn btn-dark">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card mb-4">
            <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="clearfix">
                        <div class="price float-left">$12</div>
                        <a href="#" class="float-right btn btn-dark">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card mb-4">
            <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="clearfix">
                        <div class="price float-left">$12</div>
                        <a href="#" class="float-right btn btn-dark">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card mb-4">
            <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="clearfix">
                        <div class="price float-left">$12</div>
                        <a href="#" class="float-right btn btn-dark mr-0">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
</div> --}}
